In [45]:
# this program parses the census file.  

import pandas as pd

year = '2002'
cfilename = 'C:/Users/szums/usdaData/qs.census'+year+'.txt'

In [46]:
df = pd.read_csv(cfilename,sep='\t')

C:\Users\szums\AppData\Local\Temp\ipykernel_12764\592844058.py:1: DtypeWarning: Columns (18,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(cfilename,sep='\t')

In [47]:
df.head()

,SOURCE_DESC,SECTOR_DESC,GROUP_DESC,COMMODITY_DESC,CLASS_DESC,PRODN_PRACTICE_DESC,UTIL_PRACTICE_DESC,STATISTICCAT_DESC,UNIT_DESC,SHORT_DESC,...,LOCATION_DESC,YEAR,FREQ_DESC,BEGIN_CODE,END_CODE,REFERENCE_PERIOD_DESC,WEEK_ENDING,LOAD_TIME,VALUE,CV_%
0,CENSUS,CROPS,VEGETABLES,BEANS,SNAP,ALL PRODUCTION PRACTICES,ALL UTILIZATION PRACTICES,AREA HARVESTED,ACRES,"BEANS, SNAP - ACRES HARVESTED",...,"ALABAMA, NORTHERN VALLEY, COLBERT",2002,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,(D),NaN
1,CENSUS,CROPS,FIELD CROPS,COTTON,ALL CLASSES,ALL PRODUCTION PRACTICES,ALL UTILIZATION PRACTICES,AREA HARVESTED,ACRES,COTTON - ACRES HARVESTED,...,"ALABAMA, NORTHERN VALLEY, COLBERT",2002,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"24,598",NaN
2,CENSUS,CROPS,FIELD CROPS,COTTON,UPLAND,ALL PRODUCTION PRACTICES,ALL UTILIZATION PRACTICES,AREA HARVESTED,ACRES,"COTTON, UPLAND - ACRES HARVESTED",...,"ALABAMA, NORTHERN VALLEY, COLBERT",2002,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"24,598",NaN
3,CENSUS,CROPS,FIELD CROPS,COTTON,UPLAND,IRRIGATED,ALL UTILIZATION PRACTICES,AREA HARVESTED,ACRES,"COTTON, UPLAND, IRRIGATED - ACRES HARVESTED",...,"ALABAMA, NORTHERN VALLEY, COLBERT",2002,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,(D),NaN
4,CENSUS,CROPS,FIELD CROPS,HAY & HAYLAGE,ALL CLASSES,ALL PRODUCTION PRACTICES,ALL UTILIZATION PRACTICES,AREA HARVESTED,ACRES,HAY & HAYLAGE - ACRES HARVESTED,...,"ALABAMA, NORTHERN VALLEY, COLBERT",2002,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"12,055",NaN

In [48]:
display(df.columns)
df['STATE_ALPHA'].value_counts()

dfnc = df[df['STATE_ALPHA']== 'NC']

dfncnona = dfnc.dropna(axis='columns')

dfncnona.columns

Index(['SOURCE_DESC', 'SECTOR_DESC', 'GROUP_DESC', 'COMMODITY_DESC',
       'CLASS_DESC', 'PRODN_PRACTICE_DESC', 'UTIL_PRACTICE_DESC',
       'STATISTICCAT_DESC', 'UNIT_DESC', 'SHORT_DESC', 'DOMAIN_DESC',
       'DOMAINCAT_DESC', 'AGG_LEVEL_DESC', 'STATE_ANSI', 'STATE_FIPS_CODE',
       'STATE_ALPHA', 'STATE_NAME', 'ASD_CODE', 'ASD_DESC', 'COUNTY_ANSI',
       'COUNTY_CODE', 'COUNTY_NAME', 'REGION_DESC', 'ZIP_5', 'WATERSHED_CODE',
       'WATERSHED_DESC', 'CONGR_DISTRICT_CODE', 'COUNTRY_CODE', 'COUNTRY_NAME',
       'LOCATION_DESC', 'YEAR', 'FREQ_DESC', 'BEGIN_CODE', 'END_CODE',
       'REFERENCE_PERIOD_DESC', 'WEEK_ENDING', 'LOAD_TIME', 'VALUE', 'CV_%'],
      dtype='object')

Index(['SOURCE_DESC', 'SECTOR_DESC', 'GROUP_DESC', 'COMMODITY_DESC',
       'CLASS_DESC', 'PRODN_PRACTICE_DESC', 'UTIL_PRACTICE_DESC',
       'STATISTICCAT_DESC', 'UNIT_DESC', 'SHORT_DESC', 'DOMAIN_DESC',
       'DOMAINCAT_DESC', 'AGG_LEVEL_DESC', 'STATE_ANSI', 'STATE_FIPS_CODE',
       'STATE_ALPHA', 'STATE_NAME', 'WATERSHED_CODE', 'COUNTRY_CODE',
       'COUNTRY_NAME', 'LOCATION_DESC', 'YEAR', 'FREQ_DESC', 'BEGIN_CODE',
       'END_CODE', 'REFERENCE_PERIOD_DESC', 'LOAD_TIME', 'VALUE'],
      dtype='object')

In [49]:
# save this to pickle file.  this is all the census data from the 2017 census for NC
# dfncnona.to_pickle('C:/Users/szums/usdaData/NC2017.pkl')

# lets try the xxxx format
dfncnona.to_pickle  ('C:/Users/szums/usdaData/NC'+year+'.pkl')

In [50]:

def profiledata(dfname):

    rowcount = len(dfname)

    for thiscol in dfname.columns:
        #if thiscol.find('FILLER'): continue
        print('\nLooking at column',thiscol)
        # count nulls
        nulls_in_col = dfname[thiscol].isnull().sum()
        val_counts = dfname[thiscol].value_counts()
        print('this column has',nulls_in_col,'out of',rowcount,'nulls, and',len(val_counts),'distinct values.')
        val_i = 0
        for thisval in val_counts.index:
            this_vc_string = (f'{thisval} : {val_counts[thisval]}')
            print(this_vc_string)
            val_i += 1
            if val_i > 20: break

profiledata(dfncnona)

Looking at column SOURCE_DESC
this column has 0 out of 100988 nulls, and 1 distinct values.
CENSUS : 100988

Looking at column SECTOR_DESC
this column has 0 out of 100988 nulls, and 5 distinct values.
ECONOMICS : 39003
CROPS : 27044
ANIMALS & PRODUCTS : 21043
DEMOGRAPHICS : 12134
ENVIRONMENTAL : 1764

Looking at column GROUP_DESC
this column has 0 out of 100988 nulls, and 15 distinct values.
FARMS & LAND & ASSETS : 26293
LIVESTOCK : 14354
FIELD CROPS : 13573
EXPENSES : 9737
OPERATORS : 9090
INCOME : 7749
VEGETABLES : 5988
POULTRY : 4080
FRUIT & TREE NUTS : 4044
HORTICULTURE : 3178
SPECIALTY : 1771
AQUACULTURE : 424
CROP TOTALS : 276
ANIMAL TOTALS : 274
DAIRY : 157

Looking at column COMMODITY_DESC
this column has 0 out of 100988 nulls, and 169 distinct values.
AG LAND : 14689
CATTLE : 9027
FARM OPERATIONS : 5872
LABOR : 5076
OPERATORS : 4719
OPERATORS, PRINCIPAL : 4341
COMMODITY TOTALS : 3589
HOGS : 2794
TRACTORS : 2402
HAY : 2260
CHICKENS : 1841
INCOME, FARM-RELATED : 1564
VEGETABLE TOTALS : 1489
CORN : 1420
INCOME, NET CASH FARM : 1366
TOBACCO : 1325
MACHINERY TOTALS : 1274
GOVT PROGRAMS : 1225
GOATS : 1198
WHEAT : 1196
SELF PROPELLED : 1146

Looking at column CLASS_DESC
this column has 0 out of 100988 nulls, and 256 distinct values.
ALL CLASSES : 43267
CROPLAND, HARVESTED : 5675
INCL CALVES : 2983
FEMALE : 1894
HIRED : 1629
HIRED, LT 150 DAYS : 1565
HIRED, GE 150 DAYS : 1520
(EXCL COWS) : 1332
INCL BUILDINGS : 1322
COWS, BEEF : 1274
GE 500 LBS : 1250
CALVES : 1092
WHITE : 900
OF OPERATIONS : 733
BLACK OR AFRICAN AMERICAN : 714
INCL LAMBS : 712
COWS, MILK : 694
HISPANIC : 684
LAYERS : 661
OF OPERATORS : 633
BROILERS : 608

Looking at column PRODN_PRACTICE_DESC
this column has 0 out of 100988 nulls, and 45 distinct values.
ALL PRODUCTION PRACTICES : 88959
IRRIGATED : 5018
IN THE OPEN : 2037
UNDER PROTECTION : 702
PRODUCTION CONTRACT : 485
IN THE OPEN, IRRIGATED : 384
PRIMARY OCCUPATION, FARMING : 383
PRIMARY OCCUPATION, (EXCL FARMING) : 364
CROP INSURANCE : 202
ORGANIC : 140
ON FEED : 128
OWNED, IN FARMS : 125
RENTED FROM OTHERS, IN FARMS : 123
RESIDENCE, ON OPERATION : 117
DAYS WORKED OFF OPERATION, GE 1 DAYS : 117
DAYS WORKED OFF OPERATION, 100 TO 199 DAYS : 116
DAYS WORKED OFF OPERATION, 0 DAYS : 116
DAYS WORKED OFF OPERATION, GE 200 DAYS : 116
RESIDENCE, NOT ON OPERATION : 116
YEARS ON PRESENT OPERATION, GE 10 YEARS : 116
YEARS ON PRESENT OPERATION, 5 TO 9 YEARS : 115

Looking at column UTIL_PRACTICE_DESC
this column has 0 out of 100988 nulls, and 13 distinct values.
ALL UTILIZATION PRACTICES : 96827
GRAIN : 1167
PROCESSING : 724
SILAGE : 661
ON FARM : 568
SEED : 290
RETAIL, HUMAN CONSUMPTION : 223
REPORTED BY LBS SOLD : 134
LINT & SEED : 119
PROCESSING, PICKLES : 102
REPORTED BY NUMBER SOLD : 90
SYRUP : 59
SHELLED : 24

Looking at column STATISTICCAT_DESC
this column has 0 out of 100988 nulls, and 30 distinct values.
AREA HARVESTED : 16266
INVENTORY : 15019
SALES : 13959
AREA : 11906
OPERATIONS : 6421
EXPENSE : 5424
WORKERS : 4313
AREA OPERATED : 4140
OPERATORS : 3599
RECEIPTS : 3406
PRODUCTION : 3141
AREA IN PRODUCTION : 2948
ASSET VALUE : 2596
TREATED : 1764
AREA BEARING & NON-BEARING : 1571
AREA BEARING : 852
AREA NON-BEARING : 722
CAPACITY : 568
NET INCOME : 506
LOSS : 430
GAIN : 430

Looking at column UNIT_DESC
this column has 0 out of 100988 nulls, and 33 distinct values.
OPERATIONS : 50767
ACRES : 19785
HEAD : 8725
$ : 7919
NUMBER : 4292
OPERATORS : 3599
$ / OPERATION : 1543
TONS : 867
BU : 819
SQ FT : 643
LB : 562
YEARS : 233
CWT : 166
BALES : 136
TONS, DRY BASIS : 110
$ / ACRE : 109
ACRES / OPERATION : 107
COLONIES : 106
BU / OPERATION : 101
ACRES / OPERATION, MEDIAN : 101
TREES : 69

Looking at column SHORT_DESC
this column has 0 out of 100988 nulls, and 1803 distinct values.
FARM OPERATIONS - NUMBER OF OPERATIONS : 3147
AG LAND, CROPLAND, HARVESTED - ACRES : 2878
AG LAND, CROPLAND, HARVESTED - NUMBER OF OPERATIONS : 2592
COMMODITY TOTALS - OPERATIONS WITH SALES : 1713
FARM OPERATIONS - ACRES OPERATED : 1609
COMMODITY TOTALS - SALES, MEASURED IN $ : 1466
AG LAND, IRRIGATED - ACRES : 1047
AG LAND, IRRIGATED - NUMBER OF OPERATIONS : 1032
MACHINERY TOTALS - OPERATIONS WITH ASSET VALUE : 996
AG LAND, INCL BUILDINGS - OPERATIONS WITH ASSET VALUE : 940
LABOR, HIRED, LT 150 DAYS - NUMBER OF WORKERS : 782
TOBACCO - OPERATIONS WITH AREA HARVESTED : 769
LABOR, HIRED, GE 150 DAYS - NUMBER OF WORKERS : 760
CATTLE, INCL CALVES - OPERATIONS WITH INVENTORY : 740
CATTLE, INCL CALVES - INVENTORY : 740
OPERATORS - NUMBER OF OPERATIONS : 723
LABOR, HIRED - OPERATIONS WITH WORKERS : 696
LABOR, HIRED, LT 150 DAYS - OPERATIONS WITH WORKERS : 682
AG LAND - TREATED, MEASURED IN ACRES : 682
AG LAND - OPERATIONS WITH TREATED : 682
CATTLE, INCL CALVES - OPERATIONS WITH SALES : 675

Looking at column DOMAIN_DESC
this column has 0 out of 100988 nulls, and 54 distinct values.
TOTAL : 56426
AREA OPERATED : 6778
AREA HARVESTED : 5923
LABOR : 4008
OPERATORS : 2799
FARM SALES : 2790
NAICS CLASSIFICATION : 1948
TENURE : 1943
VALUE : 1747
INVENTORY OF CATTLE, INCL CALVES : 1275
INVENTORY OF BEEF COWS : 1220
SALES OF CATTLE, INCL CALVES : 1115
INVENTORY OF CATTLE, (EXCL COWS) : 1056
IRRIGATION STATUS : 1010
SALES OF CATTLE GE 500 LBS : 992
SALES OF CALVES : 836
INVENTORY OF HOGS : 835
FERTILIZER : 802
SALES OF HOGS : 798
AREA HARVESTED, FRESH MARKET & PROCESSING : 718
INVENTORY OF MILK COWS : 656

Looking at column DOMAINCAT_DESC
this column has 0 out of 100988 nulls, and 590 distinct values.
NOT SPECIFIED : 56426
OPERATORS: (2 OR MORE OPERATORS) : 1151
OPERATORS: (1 OPERATORS) : 977
IRRIGATION STATUS: (ANY ON OPERATION) : 863
TENURE: (PART OWNER) : 789
AREA HARVESTED: (1.0 TO 24.9 ACRES) : 654
TENURE: (FULL OWNER) : 621
FERTILIZER: (TOTAL) : 602
LABOR: (1 HIRED WORKERS) : 598
AREA OPERATED: (10.0 TO 49.9 ACRES) : 595
AREA OPERATED: (1.0 TO 9.9 ACRES) : 585
AREA HARVESTED: (25.0 TO 99.9 ACRES) : 584
LABOR: (2 HIRED WORKERS) : 582
AREA OPERATED: (50.0 TO 69.9 ACRES) : 580
LABOR: (3 TO 4 HIRED WORKERS) : 580
AREA OPERATED: (70.0 TO 99.9 ACRES) : 572
AREA OPERATED: (260 TO 499 ACRES) : 564
AREA HARVESTED: (100 TO 249 ACRES) : 562
AREA OPERATED: (100 TO 139 ACRES) : 558
LABOR: (5 TO 9 HIRED WORKERS) : 558
LABOR: (10 OR MORE HIRED WORKERS) : 550

Looking at column AGG_LEVEL_DESC
this column has 0 out of 100988 nulls, and 2 distinct values.
COUNTY : 93664
STATE : 7324

Looking at column STATE_ANSI
this column has 0 out of 100988 nulls, and 1 distinct values.
37.0 : 100988

Looking at column STATE_FIPS_CODE
this column has 0 out of 100988 nulls, and 1 distinct values.
37 : 100988

Looking at column STATE_ALPHA
this column has 0 out of 100988 nulls, and 1 distinct values.
NC : 100988

Looking at column STATE_NAME
this column has 0 out of 100988 nulls, and 1 distinct values.
NORTH CAROLINA : 100988

Looking at column WATERSHED_CODE
this column has 0 out of 100988 nulls, and 1 distinct values.
0 : 100988

Looking at column COUNTRY_CODE
this column has 0 out of 100988 nulls, and 1 distinct values.
9000 : 100988

Looking at column COUNTRY_NAME
this column has 0 out of 100988 nulls, and 1 distinct values.
UNITED STATES : 100988

Looking at column LOCATION_DESC
this column has 0 out of 100988 nulls, and 101 distinct values.
NORTH CAROLINA : 7324
NORTH CAROLINA, SOUTHERN COASTAL, SAMPSON : 1216
NORTH CAROLINA, CENTRAL COASTAL, JOHNSTON : 1167
NORTH CAROLINA, NORTHERN PIEDMONT, GUILFORD : 1135
NORTH CAROLINA, SOUTHERN PIEDMONT, UNION : 1120
NORTH CAROLINA, NORTHERN MOUNTAIN, SURRY : 1116
NORTH CAROLINA, SOUTHERN COASTAL, DUPLIN : 1115
NORTH CAROLINA, CENTRAL PIEDMONT, CHATHAM : 1111
NORTH CAROLINA, NORTHERN PIEDMONT, ALAMANCE : 1108
NORTH CAROLINA, NORTHERN COASTAL, NASH : 1105
NORTH CAROLINA, CENTRAL PIEDMONT, IREDELL : 1099
NORTH CAROLINA, SOUTHERN COASTAL, HARNETT : 1099
NORTH CAROLINA, CENTRAL PIEDMONT, ROWAN : 1087
NORTH CAROLINA, NORTHERN PIEDMONT, ROCKINGHAM : 1080
NORTH CAROLINA, CENTRAL PIEDMONT, WAKE : 1077
NORTH CAROLINA, SOUTHERN PIEDMONT, MOORE : 1074
NORTH CAROLINA, WESTERN MOUNTAIN, BUNCOMBE : 1072
NORTH CAROLINA, SOUTHERN COASTAL, CUMBERLAND : 1069
NORTH CAROLINA, CENTRAL PIEDMONT, RANDOLPH : 1069
NORTH CAROLINA, NORTHERN COASTAL, HALIFAX : 1063
NORTH CAROLINA, SOUTHERN COASTAL, COLUMBUS : 1061

Looking at column YEAR
this column has 0 out of 100988 nulls, and 1 distinct values.
2002 : 100988

Looking at column FREQ_DESC
this column has 0 out of 100988 nulls, and 2 distinct values.
ANNUAL : 82673
POINT IN TIME : 18315

Looking at column BEGIN_CODE
this column has 0 out of 100988 nulls, and 2 distinct values.
0 : 82673
12 : 18315

Looking at column END_CODE
this column has 0 out of 100988 nulls, and 2 distinct values.
0 : 82673
12 : 18315

Looking at column REFERENCE_PERIOD_DESC
this column has 0 out of 100988 nulls, and 2 distinct values.
YEAR : 82673
END OF DEC : 18315

Looking at column LOAD_TIME
this column has 0 out of 100988 nulls, and 1 distinct values.
2012-01-01 00:00:00 : 100988

Looking at column VALUE
this column has 0 out of 100988 nulls, and 16613 distinct values.
(D) : 10676
1 : 5058
2 : 4148
3 : 3114
4 : 2342
5 : 2011
6 : 1743
7 : 1521
8 : 1359
9 : 1215
10 : 1091
12 : 991
11 : 968
13 : 845
14 : 835
15 : 740
16 : 695
17 : 682
18 : 673
19 : 588
21 : 560

In [51]:
#df_counties = dfnc[['COUNTY_CODE','COUNTY_NAME']].drop_duplicates()   #.set_index('COUNTY_CODE')

#df_counties.set_index('COUNTY_CODE',inplace=True)

#df_counties.sort_index(inplace=True)

#df_counties.to_a('C:/Users/szums/usdaData/df_counties.pkl')

#display(df_counties.head())

In [52]:

#dfland = dfncnona[dfncnona['SHORT_DESC'] == 'AG LAND, CROPLAND, HARVESTED - ACRES']
#dfland.head()

#dfland.to_excel('C:/Users/szums/usdaData/land.xlsx')

dfNCtotals = dfncnona[dfncnona['LOCATION_DESC'] == "NORTH CAROLINA"]
dfNCtotals.to_excel('C:/Users/szums/usdaData/NCtotals'+year+'.xlsx',index=False)